@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .button {
    @apply py-1.5;
    @apply px-4;
    @apply text-white;
    @apply bg-blue-700;
    @apply rounded-md;
  }

  .button[disabled] {
    @apply opacity-50;
    @apply cursor-not-allowed;
  }
}

.box {
  border: double 3px transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  background-image: linear-gradient(#161629, #161629), radial-gradient(circle at top left, rgb(157, 0, 255),#0b00a2, rgb(157, 0, 255),#0b00a2, rgb(157, 0, 255),#0b00a2, rgb(157, 0, 255),#0b00a2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.gamebutton {
  padding: 10px;
  margin: 1px;
  border-radius: 10px;
  border:2px #2B254A solid;
  color: azure;
  background-color: #070512;
  font-size: smaller;
  min-width: 100px;
}
.gamebuttonactive {
  padding: 10px;
  margin: 1px;
  border-radius: 10px;
  color: azure;
  font-weight: bolder;
  background-color: rgb(105,34,255);
}

.area {
  display:table-cell;
  vertical-align:middle; 
}