@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .button {
    @apply py-1.5;
    @apply px-4;
    @apply text-white;
    @apply bg-blue-700;
    @apply rounded-md;
  }

  .button[disabled] {
    @apply opacity-50;
    @apply cursor-not-allowed;
  }
}

.box {
  border: double 3px transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  background-image: linear-gradient(#161629, #161629), radial-gradient(circle at top left, rgb(157, 0, 255),#0b00a2, rgb(157, 0, 255),#0b00a2, rgb(157, 0, 255),#0b00a2, rgb(157, 0, 255),#0b00a2);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.gamebutton {
  padding: 10px;
  margin: 1px;
  border-radius: 10px;
  border:2px #2B254A solid;
  color: azure;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.6s;
  background-color: #070512;
  font-size: smaller;
  min-width: 100px;
}

.gamebutton:hover {
  padding: 10px;
  margin: 1px;
  border-radius: 10px;
  color: azure;
  background-color: rgb(105,34,255);
}
.gamebuttonactive {
  padding: 10px;
  margin: 1px;
  border-radius: 10px;
  color: azure;
  background-color: rgb(105,34,255);
}

.area {
  display:table-cell;
  vertical-align:middle; 
}


.connectbutton {
  border: double 3px transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  background-image: linear-gradient(#161629, #161629), radial-gradient(circle at  left, #341562,#E262E8,#0b00a2,#71D1F9, #60A745);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}


.diamond {
pointer-events: none;
position: absolute;
width: 718.42px;
height: 718.42px;
left: calc(50% - 718.42px/2);
top: -206px;
background: radial-gradient(49.93% 49.93% at 50% 50%, rgba(236, 103, 231, 0.7) 0%, rgba(184, 103, 233, 0.382812) 48.44%, rgba(236, 103, 175, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
opacity: 0.2;
filter: blur(55px);
transform: rotate(45deg);

}

.mainalignment {
  display: flex;
}

.slip {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  height: 500px;
  width: 356px;
  color: white;
  background-color: rgb(27,24,48);
  
}

.history {
  padding: 10px;
  border-radius: 20px;
  height: 400px;
  width: full;
  color: white;
  overflow-y: auto;
}
.textwithfont {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 68px;
    line-height: 78px;
    text-align: center;

    color: #FEFEFE;

    text-shadow: 0px 4px 74px rgba(105, 34, 255, 0.2);

}

.font {
  font-family: 'Titan One'; 
}

.shadow {
  /* The On-Chain Crypto Bookmake */

position: absolute;
width: 653px;
height: 156px;

font-family: 'Titan One';
font-style: normal;
font-weight: 400;
font-size: 68px;
line-height: 78px;
text-align: center;

opacity: 0.5;

}